.cta {
  background: var(--desaturatedBlue);
  padding-block-start: 54px;
  padding-block-end: 71px;
  text-align: center;
  color: #FFFFFF;
}

.cta h2 {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.cta p {
  margin-block-end: 16px;
  font-size: 14px;
  line-height: 21px;
}

.cta input {
  display: block;
  margin-inline: auto;
  padding: 11px 8px 9px 8px;
  box-sizing: border-box;
  inline-size: 240px;
  block-size: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  border-radius: 1.5px;
}

.cta input[type="email"] {
  margin-block-end: 8px;
  border: none;
  box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
  line-height: 12px;
  color: var(--lightGray);
}

.cta input[type="submit"] {
  border: none;
  line-height: 11px;
  font-weight: 700;
  color: #FFFFFF;
  background: var(--brightBlue);
  box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
}

@media only screen and (min-width: 1025px) {
 .cta {
  padding-block-start: 100px;
  padding-block-end: 85px;
 }

 .cta-content {
   display: flex;
   gap: 227px;
 }

 .cta-access {
  inline-size: 533px;
  text-align: start;
 }

 .cta-access h2 {
  font-size: 32px;
  line-height: 48px;
 }

 .cta-access p {
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.5px;
   margin: 0;
 }

 .cta form {
   align-self: center;
 }

 .cta input[type="email"] {
  inline-size: 480px;
  block-size: 48px;
  margin-block-end: 16px;
  padding: 16px 22px;
  font-size: 12px;
  line-height: 14px
}

.cta input[type="submit"] {
  inline-size: 280px;
  block-size: 48px;
  margin-inline: 0;
  padding: 16px 22px;
  font-size: 14px;
  line-height: 16.5px;
}
}