.productive {
  padding-block-start: 50px;
  padding-block-end: 81px;
  background: #F6F6FE;
  text-align: center;
}

.image-productive {
  inline-size: 320px;
  block-size: 241px;
  margin: auto;
  background-image: url(../images/illustration-2.svg);
  background-size: cover;
  background-position: center;
  /* border: 1px solid red; */
}

.productive h2 {
  margin-block-start: 89px;
  margin-block-end: 23px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* border: 1px solid blue; */
}

.productive p {
  font-size: 14px;
  line-height: 21px;
  color: #615F7E;
}
.productive-fylo-link {
  inline-size: 130px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 36px;
  margin-block-end: 40px;
  padding-block: 6px;
  border-bottom: 1px solid var(--moderateCyan);
  display: flex;
  justify-content: center;
  align-items: center;
  }

.productive-fylo-link p{
  margin-block: 0;
  margin-inline-end: 8px;
  font-size: 12px;
  color: var(--moderateCyan);
}


.productive-fylo-link img{
  inline-size: 12px;
  block-size: 12px;
}

.productive-testimonial {
  /* border: 1px solid red; */
  box-sizing: border-box;
  inline-size: 280px;
  margin: auto;
  padding-inline-start: 26px;
  padding-inline-end: 12.7px;
  padding-block-start: 21px;
  padding-block-end: 18.62px;
  border-radius: 3.93px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
}

.productive-testimonial .quote {
  display: block;
}

.productive-testimonial p {
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.38px;
  color: var(--veryDarkBlue);
  text-align: start;
  margin-block-end: 12px;
}

.productive-testimonial .avatar {
  display: flex;
  align-items: flex-start;
}

.productive-testimonial .avatar img {
  inline-size: 24px;
  block-size: 24px;
  border-radius: 50%;
  margin-inline-end: 7.5px;
}

.productive-testimonial .avatar p {
  margin-block: 0;
}

.productive-testimonial .avatar-name {
  font-size: 9px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.45px;
}

.productive-testimonial .avatar-ceo {
  font-size: 6px;
}

@media only screen and (min-width: 1025px) {
  .productive {
    padding-block-start: 0;
    padding-block-end: 107px;
  }

  .productive-content {
    display: flex;
    gap: 80px;
  }

  .stay-productive {
    /* border: 1px solid blue; */
    text-align: start;
  }

  .stay-productive h2 {
    margin-block-start: 0;
    margin-block-end: 38px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
  }

  .stay-productive .productive-paragraph {
    display: block;
    inline-size: 530px;
    margin-block-end: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .productive-fylo-link {
    margin-inline: 0;
    margin-block-start: 0;
    inline-size: 166px;
  }

  .productive-fylo-link p {
    font-size: 16px;
    line-height: 22px;
  }

  .image-productive {
    /* border: 1px solid red; */
    order: 2;
    inline-size: 542px;
    block-size: 409px;
    flex-shrink: 0;
  }

  .productive-testimonial {
    margin: 0;
    inline-size: 356px;
    block-size: 215px;
    padding-inline: 35px;
    padding-block: 26px;
  }

  .productive-testimonial p{
    font-size: 13px;
    line-height: 23px;
    margin-block: 16px;
  }

  .productive-testimonial .avatar img {
    inline-size: 32px;
    block-size: 32px;
  }

  .productive-testimonial .avatar-name {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.55px;
  }

  .productive-testimonial .avatar-ceo {
    font-size: 8px;
    line-height: 15px;
    letter-spacing: 0.36px;
  }
}