@import './header.css';
@import './hero.css';
@import './productive.css';
@import './cta.css';
@import './footer.css';


:root {
  /* ### Primary */
  --veryDarkBlue: hsl(243, 87%, 12%);
  --desaturatedBlue: hsl(238, 22%, 44%);
  /* ### Accent */
  --brightBlue: hsl(224, 93%, 58%);
  --moderateCyan: hsl(170, 45%, 43%);
  /* ### Neutral */
  --lightGrayishBlue: hsl(240, 75%, 98%);
  --lightGray: hsl(0, 0%, 75%);
}

body {
  background: var(--lightGrayishBlue);
  font-family: 'Open Sans', sans-serif;;
  margin: 0;
  background: white;
}

.wrapper {
  padding-inline: 24px;
}

.bg-curve-mobile {
  display: block;
  inline-size: 100%;
}

@media only screen and (min-width: 1025px) {
  .wrapper {
    /* border: 1px solid red; */
    padding-inline: 0;
    margin-inline: auto;
    max-inline-size: 1280px;
  }
}
